<h1 class="display-2 text-center">TodoList</h1>
<p class="lead text-center">Welcome to my todoList applications</p>
<button id="open-btn" type="button" class="btn btn-primary open" onclick="openPopup()">
  ADD TASK
</button>
<%= form_tag tasks_path, method: :get, class: 'search-form', remote: true do |f| %>
  <div class="filters-container">
    <%= select_tag :status, options_for_select(Task.statuses.keys, params[:status]), prompt: 'All' %>
    <%= select_tag :expired, options_for_select(['Expired', 'Feature'], params[:status]), prompt: 'All' %>
  </div>
  <div class="search-input-container">
    <div class="input-group">
      <%= text_field_tag :q, params[:q], placeholder: t('.search'), class: 'form-control search' %>
    </div>
    <%= submit_tag 'Search', class: 'btn' %>
  </div>
<% end %>
<div class="row list-container">
  <ul onclick="handleCheckbox(event)" id="list" class="list">
    <%= render partial: 'task', collection: @tasks %>
  </ul>
  <%= will_paginate @tasks %>
</div>
